{% extends 'base.html'%}
{% load static %}
{% block childpage %}

<!---------start heading------>


        <div class="row mb-2 mt-4">
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                <p class="fs-3 m-0"><i class="fa-solid fa-cart-shopping"></i> Cart<b class="txt-color1">Added item</b></p>
                <i> love working on restaurant social media content! There’s only one small problem with it. It works. I’m so hungry and have an incredible craving for the type of food I’m working with, so I usually go out for lunch that day.</i>
                <hr/>
            </div>
        </div>
<!---------end heading------>
{% endblock %}