{% extends 'base.html'%}
{% load static %}
{% block childpage %}
{% if not request.session.user %}

<script>
    alert("You have login first...")
    location.href='/login/'
</script>
{% endif %}
<style>
    .form-control{
    height:50px;
    background:#e9eaec !important;
    border-radius:0px !important;

    }
    .input-group-text
    {
    height:50px;

    text-align:center;
    background:var(0,0,0,.7;
    border-radius:0px !important;
    color:white;

    }
</style>
<!---------start heading------>


        <div class="row mb-2 mt-4 text-center">

            <div class="col-sm-5 mx-auto">
                <p class="fs-3 m-0"><i class="fa-solid fa-user"></i> My<b class="txt-color1">Profile</b></p>
                <i> love working on restaurant social media content! There’s only one small problem with it. It works. I’m so hungry and have an incredible craving for the type of food I’m working with, so I usually go out for lunch that day.</i>
                <hr/>
            </div>
        </div>
<!---------end heading------>
{% for i in userinfo %}

<div class="row mt-5 profile">
    <div class="col-sm-6 shadow-lg mb-3 p-5 mx-auto position-relative mt-5" >
        <img src="../{{i.picture}}" style="height:200px;width:200px;" class="rounded-pill border border-dark border-1 p-2 position-absolute top-0 start-50 translate-middle"/>
        <div>
        <b> <i class="fa-solid fa-user"></i>  Name :</b>  {{i.name}} <br/>
        <b> <i class="fa-solid fa-phone"></i>  Mobile :</b> {{i.mobile}}   <br/>
        <b> <i class="fa-solid fa-envelope"></i>  Email :</b>  {{i.email}} <br/>
        <b> <i class="fa-solid fa-address-book"></i> Address :</b>  {{ i.address}} <br/>
        <b> <i class="fa-solid fa-city"></i> City :</b>  {{i.city}} <br/>
        <b> <i class="fa-solid fa-spinner"></i> Pincode :</b>  {{i.pincode}} <br/>
            </div>
        <p  id="btnu" class="btn btn-outline-dark rounded-0">Update profile <i class="fa-solid fa-pen-to-square"></i></p>
    </div>
</div>
<!-----profile update form-->
<div class="container" id="uform" style="display:none">
    <div class="row heading text-align-center my-4">
    <div class="col-sm-4 mx-auto">
        </div>
  </div>
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8 shadow-lg p-5">
        <form autocomplete="off" method="post" enctype="multipart/form-data">

            {% csrf_token %}

         <div class="row mt-4">
          <div class="col-sm-6">
            <div class="input-group flex-nowrap">
  <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
  <input type="text" name="name" class="form-control" value="{{i.name}}" placeholder="Enter your name" aria-label="Username" aria-describedby="addon-wrapping">
</div>
          </div>
             <div class="col-sm-6">
                  <div class="input-group flex-nowrap">
  <span class="input-group-text" ><i class="fa-solid fa-user"></i></span>
  <input type="password"  class="form-control" name="passwd" value="{{i.password}}" placeholder="Enter your password" aria-label="Username" aria-describedby="addon-wrapping">
</div>
             </div>

        </div>

         <div class="row mt-4">
          <div class="col-sm-6">
            <div class="input-group flex-nowrap">
  <span class="input-group-text" ><i class="fa-solid fa-user"></i></span>
  <input type="password" class="form-control" name="cpasswd" placeholder="Enter your old password" aria-label="Username" aria-describedby="addon-wrapping">
</div>
          </div>
           <div class="col-sm-6">
            <div class="input-group flex-nowrap">
  <span class="input-group-text" ><i class="fa-solid fa-user"></i></span>
  <input type="number" class="form-control" name="mobile" value="{{i.mobile}}" placeholder="Enter your Mobile.No" aria-label="Username" aria-describedby="addon-wrapping">
</div>
          </div>
        </div>

         <div class="row mt-4">
          <div class="col-sm-6">
            <div class="input-group flex-nowrap">
  <span class="input-group-text" ><i class="fa-solid fa-user"></i></span>
  <input type="text" class="form-control" name="address" value="{{i.address}}" placeholder="Enter your address" aria-label="Username" aria-describedby="addon-wrapping">
</div>
          </div>
           <div class="col-sm-6">
            <div class="input-group flex-nowrap">
  <span class="input-group-text" ><i class="fa-solid fa-user"></i></span>
  <input type="text" class="form-control" name="city" value="{{i.city}}" placeholder="Enter your city" aria-label="Username" aria-describedby="addon-wrapping">
</div>
          </div>
        </div>
 <div class="row mt-4">
          <div class="col-sm-6">
            <div class="input-group flex-nowrap">
  <span class="input-group-text" ><i class="fa-solid fa-user"></i></span>
  <input type="text" class="form-control" name="pincode" value="{{i.pincode}}" placeholder="Enter your pincode" aria-label="Username" aria-describedby="addon-wrapping">
</div>
          </div>
           <div class="col-sm-6">
            <div class="input-group flex-nowrap">
  <span class="input-group-text" ><i class="fa-solid fa-user"></i></span>
  <input type="file" class="form-control" name="fu" aria-label="Username" aria-describedby="addon-wrapping">
</div>
          </div>
        </div>

<input type="submit" value="Register Now" class=" btn  bg-mycolor2 text-light rounded-0 my-3"/>
        </form>

       </div>
      <div class="col-sm-2"></div>
      </div>
    </div>

{% endfor %}
<!-----end update form-->
<script src="{% static 'js/jquery-3.7.1.js'%}"></script>
<script>
    $(document).ready(function(){
    $("#btnu").click(function(){
    $("#uform").show(3000)

    })
    })
</script>
{% endblock %}